* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 28px;
    font-weight: 600;
    text-transform: uppercase;
}

form {
color:rgb(119, 202, 250);
}

.input_field {
    font-size: 25px;
    width: 110px;
    color: rgb(119, 202, 250);
    text-align: center;
    border-radius: 5px;  
    padding: 2px 10px;
}

.input_button {
    font-size: 25px;
    font-weight: 600;
    color: #ffffff;
    background-color : rgb(119, 202, 250);
    text-align: center;
    border-radius: 5px;  
    border: none;
    padding: 2px 10px;

}




.container {
    width: 1400px;
    margin: auto;
}

.title_year {
    text-align: center;
    font-size: 100px;
    color: rgb(119, 202, 250);
}

.container_month {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.mon_bloc {
    padding: 30px;
    margin: 5px;
    border-radius: 20px;
    background-color: rgb(127, 208, 255);
}

.mon_title {
    text-align: center;
    color: #ffffff;
    font-size: 40px;
}

td {
    color: blue;
    text-align: center;
    padding: 5px;
}

.td_sat {
color: red;
}

.td_sun {
color: red;
}

th {
    padding: 10px;
}