/* footer Start */

.footer_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 70px 7.86% 0 7.86%;
    border-top: 1px solid #000000a9;
    gap: 5.2%;
    padding-top: 60px;
  }
  .footer_logo {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 468px;
  }
  .footer_logo_text {
    font-weight: 500;
    font-size: 19px;
    line-height: 115%;
  }
  .footer_logo_social {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    gap: 14%;
  }
  .footer_contato {
    max-width: 468px;
    width: 100%;
  }
  .footer_contato li {
    font-weight: 500;
    font-size: 19px;
    line-height: 115%;
    margin-bottom: 32px;
    list-style-type: none;
  }
  .footer_contato li a {
    color: #000000;
    text-decoration: none;
  }
  .footer_input {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 468px;
  }
  .footer_license {
    font-weight: 300;
    font-size: 18px;
    line-height: 115%;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 30px;
  }
  .footer_input {
    display: flex;
    flex-direction: column;
    gap: 38px;
  }
  .footer_input_title {
    font-weight: 600;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 1.5px;
  }
  .footer_input_text {
    font-weight: 500;
    font-size: 19px;
    line-height: 115%;
    max-width: 345px;
  }
  .footer_input_input {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
  }
  .footer_input_input input {
    font-weight: 400;
    font-size: 18px;
    color: #000000a9;
    border: 1px solid #000000a9;
    border-radius: 8px;
    padding: 9px 0 9px 20px;
  }
  .footer_input_input button {
    border-radius: 8px;
    padding: 0 20px;
    background-color: #000000;
  }
  