@media screen and (max-width: 1235px) {
  .nos {
    flex-direction: column;
  }
}

@media screen and (max-width: 750px) {
  .nos {
    margin: 50px 9.33% 0 9.33%;
    gap: 30px;
  }
  .wrapper_missao {
    flex-direction: column;
    margin: 50px 9.33% 0 9.33%;
  }
  .valores {
    margin: 40px 9.33% 0 9.33%;
  }
}
