*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  line-height: 115%;
  color: black;
  scroll-behavior: smooth;
}
.wrapper {
  display: flex;
  flex-direction: column;
}
main {
  flex: 1 1 auto;
}
.container {
  max-width: 1906px;
  margin: 0 auto;
  background-color: #ffffff;
}
.nos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 120px 14.7% 0 14.7%;
  gap: 40px;
}
.nos_text {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: #f4f4f4;
  border-radius: 25px;
}
.nos_text_title p {
  font-size: 36px;
  font-weight: 600;
}
.nos_text_title {
  padding: 50px 50px 0 50px;
}
.nos_text_text p {
  font-size: 20px;
  font-weight: 500;
  text-align: justify;
  line-height: 180%;
}
.nos_text_text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 50px 50px 50px;
}
.nos_img {
  flex: 1;
  background-color: #f4f4f4;
  border-radius: 25px;
}
.nos_img img {
  width: 100%;
  display: block;
  border-radius: 25px;
}
.wrapper_missao {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin: 50px 14.7% 0 14.7%;
}
.missao {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: black;
  padding: 50px 50px 82px 50px;
  border-radius: 25px;
  color: #ffffff;
}
.missao_title p {
  font-size: 36px;
  font-weight: 600;
}
.missao_text p {
  font-size: 20px;
  font-weight: 500;
  line-height: 180%;
}
.valores{
  margin: 40px 14.7% 0 14.7%;
}