@media screen and (max-width: 1235px) {
  .contato_img {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  .contato_wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .contato_text {
    width: 100%;
    padding: 70px 13.33% 50px 13.33%;
  }
  .contato_button {
    max-width: 545px;
    width: 100%;
  }
}
