*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    line-height: 115%;
    color: black;
    scroll-behavior: smooth;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 1 auto;
}

.container {
    max-width: 1906px;
    margin: 0 auto;
    /* background-color: aquamarine; */
    background-color: #ffffff;
}

.stock_title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin: 90px 10.5% 20px 10.5%;
}

.stock_title_title {
    font-size: 42px;
    font-weight: 600;
    color: #0c0c0c;
}

.stock_title_button {
    display: none;
}

.stock_title_button button {
    padding: 20px;
}

.stock_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 80px 5.25% 0 5.25%;
    gap: 60px;
}

.search_form {
    max-width: 481px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 2.93% 100px 2.93%;
    border: 1px solid #00000059;
    border-radius: 8px;
}

.search_form_block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.search_form_block p {
    font-size: 14px;
    font-weight: 600;
    color: #0c0c0c;
}

.search_form_block input {
    font-size: 18px;
    font-weight: 400;
    text-align-last: justify;
    color: #00000059;
    border: 1px solid #00000059;
    border-radius: 8px;
    padding: 8px 15px;
    max-width: 155.5px;
}

.block_left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
}

.block_left input {
    width: 100%;
}

.middle_block {
    padding-bottom: 8px;
    font-size: 14px;
    font-weight: 600;
    color: #0c0c0c7c;
}

.block_right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    width: 100%;
}

.block_right input {
    width: 100%;
}

.search_form button {
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    color: #00000054;
    padding: 11px 0;
    border-radius: 8px;
}

.button_clear button {
    border: 1px solid #00000059;
}

.button_filter button {
    background-color: #0c0c0c;
    color: #ffffff59;
}

.models_bank {
    width: 100%;
    /* background-color: blueviolet; */
}

.models_poster {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 28px;
    row-gap: 50px;
}

.models_note {
    display: flex;
    flex-direction: column;
    border: 1px solid #0000002f;
    border-radius: 25px;
    gap: 26px;
    padding: 20px;
}

.note_name {
    font-size: 18px;
    font-weight: 600;
    color: #000000;
    padding-bottom: 3px;
}

.note_car_age_mileage {
    font-size: 18px;
    font-weight: 600;
    color: #0000006f;
}

.note_price {
    display: flex;
    flex-direction: row;
}

.note_price_rs {
    padding-top: 2px;
    font-size: 13px;
    font-weight: 600;
    color: #0000006f;
}

.note_price_price {
    font-size: 18px;
    font-weight: 600;
    color: #000000;
}

.note_arrow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.note_arrow a {
    text-decoration: none;
}

.note_arrow_car_engine {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.note_arrow_car_engine_armed {
    background-color: #ffffff;
    border: 1px solid #000000aa;
    border-radius: 10px;
    padding: 3px 6px 0px 6px;
    color: #000000aa;
    font-size: 12px;
    font-weight: 600;
}

.note_arrow_car_engine_electric {
    background-color: #33FF00;
    border: 1px solid #33FF00;
    border-radius: 10px;
    padding: 3px 6px 0px 6px;
    color: #000000aa;
    font-size: 12px;
    font-weight: 600;
}

.note_arrow_car_engine_hybrid {
    background-color: #1D85FF;
    border: 1px solid #1D85FF;
    border-radius: 10px;
    padding: 3px 6px 0px 6px;
    color: #000000aa;
    font-size: 12px;
    font-weight: 600;
}

.pass_page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin: 64px 0 114px 0;
}

.pass_page_o {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    font-size: 20px;
    font-weight: 600;
    color: #0000006f;
}

.buy-button_1 {
    font-size: 30px;
    font-weight: 400;
    color: #0000006f;
    text-decoration: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.pass_page_mobil {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 50px 0 70px 0;
}

.pass_page_mobil p {
    font-size: 20px;
    font-weight: 400;
    color: #0000006f;
    text-decoration: none;
}