*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  line-height: 115%;
  color: black;
  scroll-behavior: smooth;
}
.wrapper {
  display: flex;
  flex-direction: column;
}
main {
  flex: 1 1 auto;
}
.container {
  max-width: 1906px;
  margin: 0 auto;
  background-color: aquamarine;
  /* background-color: #ffffff; */
}
.contato_wrapper{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-end;
}
.contato_text{
flex: 1;
display: flex;
flex-direction: column;
padding: 100px 100px 70px 10.5%;
gap: 41px;
}
.contato_text_title{
    font-size: 42px;
    font-weight: 600;
    
}
.contato_text_contact{
display: flex;
flex-direction: column;
gap: 25px;
}
.contato_text_contact a{
text-decoration: none;
}
.contato_button{
    width: 545px;
display: flex;
flex-direction: row;
gap: 20px;
color: #ffffff;
background-color: black;
border-radius: 25px;
padding: 20px;
font-size: 20px;
font-weight: 400;
}
.contato_img{
flex: 1;
}
.contato_img img{
display: block;
width: 100%;

    /* margin: auto 0 0 auto; */
}

