@media screen and (max-width: 1200px) {
    .container {
        margin: 0 10px;
    }
}

@media screen and (max-width: 600px) {
    .nav ul {
        display: none;
    }

    .burger_menu {
        display: flex;
    }

    .header {
        position: relative;
    }

    .nav.active ul {
        position: absolute;
        top: 70px;
        left: 0;
        display: flex;
        flex-direction: column;
        gap: 0;
        background-color: #ffffff;
        width: 100%;
        z-index: 3;
        align-items: center;
        font-size: 30px;
    }

    .f_1_2_2_i {
        padding: 6px 8px;
    }

    button {
        padding: 6px 8px;
    }

    .banner_title {
        font-size: 24px;
    }
}